@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#202124 99%, #202124 1%);
}

.buttoncadastrar{
    margin-left: 2%;
    margin-bottom: 5%;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
}
/* side bar styles */
.sidebar{
    position:fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 60px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 15px solid #1e00ca;
    background: #1e00ca;
    transition: width 0.7s;
    overflow-x: hidden;
}

.sidebar.active{
    width: 300px;
}

.sidebar .list{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
}

.sidebar .list .list-item{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.sidebar .list .list-item.active{
    background: #202124;
}

.sidebar .list .list-item:hover{
    font-weight:500;
    font-size: large;
    /* background: #fafafa69; */
}

.sidebar .list .list-item b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #202124;
    display: none;
}

.sidebar .list .list-item b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #1e00ca;
}

.sidebar .list .list-item b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #202124;
    display: none;
}

.sidebar .list .list-item b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #1e00ca;
}

.sidebar .list .list-item.active b:nth-child(1),
.sidebar .list .list-item.active b:nth-child(2){
    display: block;
}

.sidebar .list .list-item.active .list-item-link{
    color: #fff;
}

.sidebar .list .list-item .list-item-link{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}

.sidebar .list .list-item .list-item-link .icon{
    position: relative;
    display: block;
    min-width: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.icon i{
    font-size: 1rem;
    font-weight: 900;
}

.sidebar .list .list-item .list-item-link .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

/* toggle button styles */

.toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #1e00ca;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active{
    background: #4300ca;
}

.toggle i{
    font-size: 1.5em;
    font-weight: 900;
    color: #fff !important;
    display: none;
    position: absolute;
}

.toggle i.open,.toggle.active i.close{
    display: block;
}

.toggle.active i.open, .toggle i.close{
    display: none;
}
.wp-content{
    margin-top: 20px;
    margin-left: 350px;
    color: #fff;
}
#imgbrasao{
    margin-top: 8%;
    margin-left: 30%;
    width: 100px;
    height:auto;
}